fastapi
uvicorn

langchain
langchain-core
langchain-community
langchain-groq
langchain_chroma
langchain_community
langchain_huggingface
langgraph

pydantic
pydantic-settings
python-dotenv

chromadb
sentence-transformers

streamlit
requests